@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    --dark-green: #162a2c;
    --gray: #686867;
    --green: #5e6c58;
    --sky: #d6e0e2;
    --cream: #f4efe6;
    --light: #fefcf6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: 400;
    background-color: var(--cream);
    color: var(--dark-green);
    overflow-x: hidden;
}

h1 {
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.main-nav {
    background-color: var(--light);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.main-nav-brand a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #3c4590;
    font-family: "Josefin Sans";
}

.main-nav-btn {
    padding: 1rem;
    font-size: 1.5rem;
    color: #3c4590;
}

.main-nav-menu {
    position: absolute;
    top: 0;
    background-color: #2d336b;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 10rem;
    right: -65rem;
    transition: all 0.3s;
}

.main-nav-menu a {
    display: inline-block;
    width: 13rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff2f2;
    transition: all 0.1s;
}

.active {
    background-color: #3c4590;
}

.main-nav-menu a:hover {
    background-color: #3c4590;
}

.menu-btn {
    margin-top: 2rem;
    background-color: #3c4590;
    display: inline-block;
    padding: 1rem;
    color: #fff2f2;
    font-weight: 600;
    font-size: 2rem;
    width: 4.3rem;
    text-align: center;
    border-radius: 0.5rem;
}

.main-banner {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 25rem;
    padding: 7rem 1rem 0 1rem;
    text-align: center;
}

.main-banner h1 {
    font-weight: 800;
    color: var(--light);
    font-size: 2.5rem;
    font-family: "Josefin Sans";
    margin-bottom: 0.5rem;
}

.main-banner p {
    color: var(--light);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.main-banner a {
    background-color: #2d336b;
    color: var(--light);
    padding: 0.5rem 1.5rem;
    display: inline-block;
    box-shadow: 1px 1px 3px #5c5c5c;
    font-weight: bold;
    border-radius: 6px;
    transition: all 0.3s;
}

.main-banner a:hover {
    background-color: #3c4590;
}

.filter-banner {
    width: 100vw;
    height: 25rem;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 1;
}

.content-banner {
    z-index: 5;
    position: relative;
}

.main-category {
    width: 100vw;
    padding: 2rem;
    text-align: center;
    background-color: var(--light);
}

.main-category h2 {
    margin-bottom: 1rem;
}

.div-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.div-category {
    background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 13rem;
    text-align: left;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px #5e6c58;
}

.div-category:hover {
    transform: scale(1.05);
}

.div-category p {
    color: var(--light);
    font-weight: 500;
    font-size: 1.3rem;
}

.div-category a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00a01b;
    color: var(--light);
    border-radius: 4px;
    margin-top: 1rem;
}

.main-top-recommd {
    padding: 1rem;
}

.main-top-recommd h2 {
    text-align: center;
}

.recomendation-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 1024px;
    margin: auto;
}

.book-group {
    padding: 1rem;
    border: 1px solid #b8b8b8;
    width: 17rem;
    height: 36rem;
    background-color: var(--light);
    border-radius: 8px;
    box-shadow: 1px 1px 5px #b8b8b8;
    transition: all 0.3s;
}

.book-group:hover {
    transform: scale(1.04);
}

.book-group img {
    max-width: 100%;
    height: 23rem;
}

.book-group p {
    margin-bottom: 0.5rem;
}

.book-group p:nth-child(1) {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.book-group p:nth-child(3) {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.link-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.link-group a {
    padding: 0.2rem 0.3rem;
    box-shadow: 1px 1px 5px #b8b8b8;
    border-radius: 4px;
    color: var(--light);
}

.link-group a:nth-child(1) {
    background-color: #00a01b;
}

.link-group a:nth-child(2) {
    background-color: #f16e03;
}

.link-group a:nth-child(3) {
    background-color: #1a2fa5;
}

.feedback-and-suggestion {
    background-color: #3c4590;
    color: var(--light);
    padding: 2rem;
}

.feedback-and-suggestion h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-group input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #686867;
}

.input-group input:focus {
    outline: none;
}

.input-group textarea {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #686867;
    height: 10rem;
}

.input-group textarea:focus {
    outline: none;
}

#submit-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 5px #686868;
    background-color: #00a01b;
    color: var(--light);
}

#feedback-form {
    max-width: 30rem;
    margin: auto;
}

.login-main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #bdbdbd;
    width: 20rem;
}

#login h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

#login input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #b8b8b8;
}

#login input:focus {
    outline: none;
}

#login button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 5px #bdbdbd;
    background-color: #3c4590;
    font-weight: 600;
    font-family: "Roboto";
    color: #fff2f2;
    transition: all 0.3s;
}

#login button:hover {
    background-color: #4753c2;
}

#btn-price {
    width: 100%;
    margin-top: 1rem;
    background-color: #00a2ff;
    border: none;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 1rem;
}

.main-game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    background-color: white;
    box-shadow: 1px 1px 3px gray;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

#user-choice {
    width: 100%;
    border-radius: 4px;
    padding: 5px 3px;
}

#btn-start {
    width: 100%;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    box-shadow: 1px 1px 3px gray;
    background-color: #2d336b;
    color: white;
    font-weight: bold;
}

.game-img {
    display: flex;
    gap: 1rem;
}

.green {
    color: darkgreen;
}

.red {
    color: red;
}

@media (min-width: 768px) {
    .main-nav-menu {
        width: 25rem;
    }

    .main-banner {
        padding-top: 8rem;
    }
}

@media (min-width: 1024px) {
    .main-nav {
        padding: 0 1rem;
    }

    .main-nav-menu {
        position: initial;
        background-color: var(--light);
        flex-direction: row;
        width: auto;
        height: auto;
        padding: 0;
        margin-left: auto;
    }

    .main-nav-btn {
        display: none;
    }

    .main-nav-menu a {
        color: #162a2c;
        border-radius: 0;
        padding: 1rem 1.5rem;
        width: auto;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .main-nav-menu a:hover {
        background-color: #d9d9d9;
        border-bottom: 5px solid #3c4590;
        color: #3c4590;
    }

    .active {
        color: #3c4590;
        background-color: #d9d9d9;
        border-bottom: 5px solid #3c4590;
    }

    .menu-btn {
        display: none;
    }

    .main-banner {
        height: 40rem;
        padding-top: 13rem;
    }

    .main-banner h1 {
        font-size: 5rem;
    }

    .main-banner p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .filter-banner {
        height: 40rem;
    }

    .content-banner {
        max-width: 1024px;
        margin: auto;
    }

    .content-banner a {
        font-size: 1.3rem;
    }
}
